*.tar.gz
*.exe
*.zip
2GiveCoin-qt
src/2GiveCoind

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
